@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Moon+Dance&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
html, body {
  padding: 0;
  margin: 0;
  height: 100%; 
 
}
nav
{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #FFD700;
}
nav h1
{ font-family: "Moon Dance", serif;
  font-weight: bold;
  font-style: normal;
  font-size:  50px;
  padding: 0;
  margin: 15px;
}
nav ul
{ 
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
nav ul li {
  font-family: 'Courier New', Courier, monospace;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

Footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #FFD700;
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}
Footer p{
  margin: 5px;
}
Footer h4{
  margin: 5px;
}

.Home{
  position: relative;
  background-image: url('fotos/BG1.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  box-shadow: 
    inset 0 0 20px rgba(0, 0, 0, 0.4), 
    inset 0 0 40px rgba(0, 0, 0, 0.6);
    color: white;
}
.Home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.HomeContent{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  text-align: center;
  justify-content: center;
  align-content: center;
  z-index: 1; 
}
.HomeButton{
  height: 50px;
  width: 100px;
  background-color: rgba(255, 30, 0, 0);
  border: 2px solid #FFD700;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: 0.6s;
  
}

.HomeButton:hover{
  background-color: #FFD700;
  color: rgb(0, 0, 0);
-webkit-box-shadow: -1px 2px 63px -6px #FFD700;
-moz-box-shadow: -1px 2px 63px -6px #FFD700;
box-shadow: -1px 2px 63px -6px #FFD700;
}
.HomeContent h1{
  font-family: 'Courier New', Courier, monospace;
}
.HomeContent p{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.colorP{
color: #FFD700;
}

.ShopHome
{ display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 100%;
  height: auto; 
  background-color: rgb(15, 23, 42);
  background-image: 
    radial-gradient(circle at top left, rgba(255, 255, 255, 0.041) 0%, rgba(15, 23, 42, 1) 50%, rgba(15, 23, 42, 1) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4), inset 0 0 40px rgba(0, 0, 0, 0.6);
  color: white;
  position: relative;
}
/*.ShopHome::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(8px);
  
}
  */
.ShopContent {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  width: 95%;  
  height: auto;
  text-align: center;
  z-index: 1;
  border: px solid rgb(99, 44, 44);
  overflow: hidden;
}

@media (max-width: 768px) {
  .ShopContent {
    flex-direction: column;  
    width: 90%;  
    margin: 0 10px;  
  }
}

.IntroCard{
  margin:20px;
  height: 350px;  
  max-width: 45%; 
  border: 2px solid #000000;
  border-radius: 5px;
  -webkit-box-shadow: -1px 0px 14px 0px rgba(0,0,0,1);
  -moz-box-shadow: -1px 0px 14px 0px rgba(0,0,0,1);
  box-shadow: -1px 0px 14px 0px rgba(0,0,0,1);
}

.IntroCardImage {
  width: 100%; 
  height: 100%; 
  border-radius: 5px;
  object-fit: cover;
  overflow: hidden; 
}
.ShopL{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: px solid rgb(255, 255, 255);
  height: 400px;
  width: 90%;
  margin-top: 1px;
  border-bottom: none;
  border-top: none;
}

.CardContent{
  height: 350px;
  border-top: 4px solid #FFD700;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 50%;
  margin:15px;
  transition: 0.8s ease;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
}
.CardContent:hover{
  background-color: rgb(10, 10, 10);
}

.CardDiv{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 38%;
  margin: 0; 
  
}
.CardDiv p{
margin: 0;
padding: 0 10px; 
text-align: left;
word-wrap: break-word;
overflow-wrap: break-word; 
white-space: normal;
max-width: 100%;
}
.CardTitle{
  height: 20%;
  margin: 0;
}
.CardTitle h1{
  margin: 0;
  margin-top: 10px;
}

.ShopBuyContent{
 display: flex;
 justify-content: space-evenly;
 align-items: flex-start;
 height: auto;
 width: 100%;
 background-color: rgb(15, 23, 42);
  background-image: 
    radial-gradient(circle at top left, rgba(255, 255, 255, 0.041) 0%, rgba(15, 23, 42, 1) 50%, rgba(15, 23, 42, 1) 100%);
    color: white;
}

.ShopBuyLeftContent
{
  display: flex;
  height: 100%;
  width: 50%;
  border: px solid rgb(0, 247, 255);
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  
}

.ShopBuyRightContent
{
  display: flex;
  height: 100%;
  width: 50%;
  border: px solid rgb(0, 153, 255);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
}

.VideoCard
{
  display: flex;
  height: 400px;
  width: 90%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
  -webkit-box-shadow: -1px 0px 14px 0px rgba(0,0,0,1);
  -moz-box-shadow: -1px 0px 14px 0px rgba(0,0,0,1);
  box-shadow: -1px 0px 14px 0px rgba(0,0,0,1);
}

.VideoOptions
{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: px solid red;
  height: 100%;
  width: 20%;
  overflow: hidden;
}

.Video{
  display: flex;
  height: 100%;
  width: 90%;
  border: px solid violet;
}

.VideoButton
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  cursor: pointer;
  background-color: #FFD700;
}

.ShopBuyTitulo
{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid  #FFD700;
  width: 90%;
  height: auto;
  font-family: 'Courier New', Courier, monospace;

}

.ShopBuyTitulo h1
{
  margin: 0;
  
}

.ShopBuyResOptions
{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 160px;
  width: 100%;
  border: px solid rgb(253, 0, 0);
  margin-top: 20px;
}
.ShopBuyDescription{
  border: px solid rgb(253, 0, 0);
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ShopBuyButtonsContainer
{
  border: px solid rgb(253, 0, 0);
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ShopBuyButtons
{ display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background: #FFD700;
  font-size: medium;
  height: 70px;
  width: 50%;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.ShopBuyButtons:hover
{
  background-color: #fcec95;
  
}

.bulletcontainer
{ display: flex;
  height: 100%;
  width: 10%;
  border: px solid red;

  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.bulletinfocontainer
{
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border: px solid rgb(47, 0, 255);
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  
}

.radio_button
{

}


.bulletinfocontainertitle
{
  display: flex;
  border: px solid red;
  justify-content: flex-start;
  width: 100%;
}
.bulletinfocontainer h4
{
  margin: 10px; 
  margin-top: 0;
}
.bulletinfocontainer p
{
  margin: 10px;
}
label{
  margin: 0;
}

.bulletsdiv
{
  display: flex;
  border: px solid violet;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  
}
.bulletsdiv input{
  margin-left: 10px;
  margin-right: 10px;
}

.desIntroOptions
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  
  border: px solid red;
  height: auto;
  width: 100%;
}
.desIntroOptions h4
{
  border-bottom: 2px solid #FFD700 ;
}
.desIntroOptions li
{
  list-style: disc;
  padding-left: 20px;
  margin: 10px;
}

li::marker
{
  font-size: 20px;
}

.ShopBuyDetailsContainer
{ font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  width: 100%;
  height: auto;
}
.ShopBuyDetailsContainer h4
{
  border-bottom: 2px solid #FFD700;
}

.ShopBuyDetailsContainer li
{
  list-style: disc;
  padding-left: 20px;
  margin: 10px;
}

.descriptiontitle{
 height: auto;
 width: 100%;
 display: flex;
 justify-content: center;
 align-content: center;
}

.descriptiontitle h4{
 border-bottom: 2px solid #FFD700;
 }

 .descriptionbuttoncontainer
 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }