@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Moon+Dance&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
html, body {
  padding: 0;
  margin: 0;
  height: 100%; 
 
}
nav
{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #FF00FF;
  
  z-index: 0;
  position: relative;
}
nav h1
{ font-family: "Moon Dance", serif;
  font-weight: bold;
  font-style: normal;
  font-size:  50px;
  padding: 0;
  margin: 15px;
}
nav ul
{ 
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 22px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}
.cartLogo
{
  height: 30px;
  vertical-align: middle;
}
.cart-count
{
  position: absolute;
  top: -2px;
  right: 2px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}


Footer{
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #FF00FF;
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  text-align: center;
}
Footer p{
  margin: 5px;
}
Footer h4{
  margin: 5px;
}

.Home{
  position: relative;
  background-image: url('fotos/bg44.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  color: white;
  
  box-shadow: 0 -5px 50px 5px rgba(161, 51, 255, 0.6);
  
}

.logohome{
  height: 200px;
  width: 400px;
}

.Home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.HomeContent{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1; 
}
.HomeButton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;
  background-color: rgba(255, 30, 0, 0);
  border: 2px solid #00AAFF;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: 0.6s;
  
}

.HomeButton:hover{
  background-color: #00AAFF;
  color: rgb(0, 0, 0);
-webkit-box-shadow: -1px 2px 63px -6px #00AAFF;
-moz-box-shadow: -1px 2px 63px -6px #00AAFF;
box-shadow: -1px 2px 63px -6px #00AAFF;
}
.HomeContent h1{
  font-family: 'Courier New', Courier, monospace;
}
.HomeContent p{
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}

.colorP{
color: #FF00FF;
}

.ShopHome
{ display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 100%;
  height: auto; 
  background-color: #141414;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4), inset 0 0 40px rgba(0, 0, 0, 0.6);
  color: white;
  position: relative;
  box-shadow: 0 -5px 50px 5px rgba(161, 51, 255, 0.6);
  
}
/*.ShopHome::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(8px);
  
}
  */
.ShopContent {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  width: 100%;  
  height: auto;
  text-align: center;
  z-index: 1;
  border: px solid rgb(99, 44, 44);
  overflow: hidden;
}



.IntroCard{
  display: flex;
  align-items: stretch;
  margin:20px;
  height: auto;  
  
  width: 50%; 
  border: 2px solid #000000;
  border-radius: 5px;
  -webkit-box-shadow: -1px 0px 14px 0px rgba(0,0,0,1);
  -moz-box-shadow: -1px 0px 14px 0px rgba(0,0,0,1);
  box-shadow: -1px 0px 14px 0px rgba(0,0,0,1);
}

.IntroCardImage {
  flex: 1;
  aspect-ratio: 16 /9;
  border-radius: 5px;
  object-fit: cover;
  overflow: hidden; 
}
.ShopL{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: px solid rgb(255, 255, 255);
  height: auto;
  width: 90%;
  margin-top: 1px;
  border-bottom: none;
  border-top: none;
 
}

.CardContent{
  display: flex;
  flex-direction: column;
  height: 300px;
  max-height: 440px;
  border-top: 4px solid #FF00FF;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 40%;
  margin:15px;
  transition: 0.8s ease;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow: hidden;
  
}
.CardContent:hover{
  
  -webkit-box-shadow: -1px 2px 63px -6px #00AAFF;
-moz-box-shadow: -1px 2px 63px -6px #00AAFF;
box-shadow: -1px 2px 63px -6px #00AAFF;
}

.CardDiv{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 38%;
  margin: 0; 
  
  
}
.CardDiv p{
margin: 0;
padding-left: 20px;
padding-right: 20px;
text-align: left;
word-wrap: break-word;
overflow-wrap: break-word; 
white-space: normal;
max-width: 100%;
}
.CardTitle{
  height: 20%;
  margin: 0;
}
.CardTitle h1{
  margin: 0;
  margin-top: 10px;
}

.ShopBuyContent{
 display: flex;
 justify-content: space-evenly;
 align-items: flex-start;
 height: auto;
 width: 100%;
 background-color: #141414;
 position: relative;
  box-shadow: 0 -5px 50px 5px rgba(161, 51, 255, 0.6);
    color: white;
}

.ShopBuyLeftContent
{
  display: flex;
  height: 100%;
  width: 50%;
  border: px solid rgb(0, 247, 255);
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  
}

.ShopBuyRightContent
{
  display: flex;
  height: auto;
  width: 50%;
  border: px solid rgb(0, 153, 255);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
}

.VideoCard
{
  display: flex;
  height: 400px;
  width: 90%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
  -webkit-box-shadow: -1px 0px 14px 0px rgba(0,0,0,1);
  -moz-box-shadow: -1px 0px 14px 0px rgba(0,0,0,1);
  box-shadow: -1px 0px 14px 0px rgba(0,0,0,1);
}

.VideoOptions
{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: px solid red;
  height: 100%;
  width: 20%;
  overflow: hidden;
}

.Video{
  display: flex;
  height: 100%;
  width: 90%;
  border: px solid violet;
}

.VideoButton
{
  display: flex;
  align-items: flex-start;
  justify-content: left;
  height: 100px;
  width: 100%;
  cursor: pointer;
  background-color: #1f96ac;
  font-size: 10px;
  color: #64b8f0;
  font-size: medium;
  font-weight: bold;
  
}

.ShopBuyTitulo
{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid  #FF00FF;
  width: 90%;
  height: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.ShopBuyTitulo h1
{
  margin: 0;
  
}

.ShopBuyResOptions
{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  width: 100%;
  border: px solid rgb(253, 0, 0);
  margin-top: 20px;
}
.ShopBuyDescription{
  border: px solid rgb(253, 0, 0);
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.bulletcontainer
{ display: flex;
  height: 100%;
  width: 10%;
  border: px solid red;

  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.bulletinfocontainer
{ display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  border: px solid rgb(47, 0, 255);
  flex-direction: column;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}




.bulletinfocontainertitle
{
  display: flex;
  height: auto;
  border: px solid red;
  justify-content: flex-start;
  width: 100%;
}
.bulletinfocontainer h4
{
  margin: 10px; 
  
}
.bulletinfocontainer p
{
  margin: 10px;
}
label{
  margin: 0;
}

.bulletsdiv
{
  display: flex;
  border: px solid violet;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  
}
.bulletinfocontainer input{
  transform: scale(1.5);
}

.desIntroOptions
{
  display: flex;
  align-items: center;
  justify-content: center;
  
  flex-direction: column;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  border: px solid red;
  height: auto;
  width: 100%;
}
.desIntroOptions h4
{
  border-bottom: 2px solid #FF00FF ;
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.desIntroOptions li
{
  list-style: disc;
  padding-left: 20px;
  margin: 10px;
 
}

li::marker
{
  font-size: 20px;
}

.ShopBuyDetailsContainer
{ font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: px solid red;
  width: 100%;
  height: auto;
  
}
.ShopBuyDetailsContainer h4
{
  border-bottom: 2px solid #FF00FF;
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ShopBuyDetailsContainer li
{
  list-style: disc;
  padding-left: 20px;
  margin: 10px;
}

.descriptiontitle{
 height: auto;
 width: 95%;
 display: flex;
 justify-content: center;
 align-content: center;
}

.descriptiontitle h4{
 border-bottom: 2px solid #FF00FF;
 }

 .descriptionbuttoncontainer
 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }

 .emailbutton
 {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  text-align: center;
  border: 1px solid #00aeff;
  background-color: #4cb3e7;
  border-radius: 5px;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 15px;
 }

 .emailbutton img
 {
    display: flex;
    margin-left: 20px;
    height: 25px;
    width: auto;
 }

 .discordbutton
 {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  text-align: center;
  border: 1px solid #00aeff;
  background-color: #4cb3e7;
  
  
  border-radius: 4px;
  margin-bottom: 40px;
  
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 15px;
 }

 .discordbutton img
 {
    display: flex;
    margin-left: 10px;
    height: 25px;
    width: auto;
 }

 .creditscontainer
 {
  display: flex;
  border: px solid red;
  height: 100px;
  width: 90%;
  margin: 10px;
 }

 .ShopBuyButtonsContainer
{
  border: px solid rgb(253, 0, 0);
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ShopBuyButtons
{ display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0faefd;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background: #4cb3e7;
  font-size: medium;
  height: 70px;
  width: 50%;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.ShopBuyButtons:hover
{
  background-color: #00AAFF;
  -webkit-box-shadow: -1px 2px 63px -6px #00AAFF;
-moz-box-shadow: -1px 2px 63px -6px #00AAFF;
box-shadow: -1px 2px 63px -6px #00AAFF
  
}

.InCartItemContainer
{
  display: flex;
  height: auto;
  width: 100%;
  border: 1px solid red;
}

.CartDivContainer
{
  display: flex;
  min-height: 90vh; 
  width: 100%;
  background-color: rgb(26, 26, 26);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-shadow: 0 -5px 50px 5px rgba(161, 51, 255, 0.6);
  color: white;
}

.ItemContainer
{
  display: flex;
  justify-content: center;
  height: auto;
  align-items: center;
  width: 100%;
  border: px solid white;
  flex-direction: column;

}

.ItemTitleContainer
{
  display: flex;
  height: auto;
  width: 70%;
  border-bottom: 2px solid rgb(255, 255, 255);
  justify-content: center;
  align-content: center;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ItemTitleContainer h1
{
  margin: 0;
  padding-top: 20px;
}

.ItemDivCartContainer
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 97%;
  border: 1px dashed rgb(255, 255, 255);
  
  padding: 10px;
  margin: 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ItemCartContainer
{
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: px solid rebeccapurple;
}

.ItemButtonDiv
{
  display: flex;
  padding: 10px;
  border: px solid red;
}
.ItemTituloDiv
{
  display: flex;
  height: auto;
  width: auto;
  padding: 10px;
  border: px solid red;
  justify-content: center;
  align-items: center;
}

.ItemTituloDiv h3{
  border-bottom: 2px solid #FF00FF;
}
.ItemDescriptionDiv
{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90%;
  border: px solid blue;
  justify-content: center;
  align-items: left;
  text-align: left;
  
}
.ItemDescriptionDiv p
{ margin: 0;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}


.ItemImageDiv
{
  display: flex;
  height: 200px;
  width: auto;
  justify-content: center;
  align-items: center;

  border: 2px solid rgb(255, 255, 255);
}
.ItemImage
{ 
  width: 100%;  
  height: 100%;  
  margin: 0;
  padding: 0;
  object-fit: cover;  
  object-position: center;  
}
.ItemIdDiv
{
  display: flex;
  height: auto;
  width: auto;
  border: px solid yellow;
}

.ItemInfoDiv
{
  display: flex;
  flex-direction: column;
  border:px solid green;
  justify-content: center;
  align-items: center;
  min-width: 160px;
}
.ItemRemoveButton
{ display: flex;
  justify-content:center;
  align-items: self-end;
  height: 30px;
  width: 100px;
  border: none;
  border-bottom: 2px solid rgb(247, 244, 244);
  
  font-weight: bold;
  cursor: pointer;
  background: none;
  color: white;
  transition: 0.5s ease;
}
.ItemRemoveButton:hover{
  background-color: #222222;
}
.chekoutbutton
{ display: flex;
  justify-content: center;
  color: rgb(255, 255, 255) ;
  font-weight: bolder;
  align-items: center;
  font-size: medium;
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 10px;
  background-color: #008060;
  transition: 0.2s ease;
  cursor: pointer;
}
.chekoutbutton:hover{
  background-color: #01946f;
}
.checkoutbuttondiv
{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  border: px solid red;
  margin-bottom: 10px;
}
.TotalPriceDiv
{ 
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
  height: 100px;
  width: 99%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ItemImageContainer
{
  border: 1px solid red;
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
}

/* Alerta css */

.Alert{
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  opacity: 0;
  color: #000000;
  height: 30px;
  width: 30%;
  background-color: #eeeeee;
  transition: opacity 0.2s ease-in-out;
  z-index: 1000;
}
.Alert.show {
  display: flex;
  opacity: 1;
}

.CheckoutContainer
{ 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  background-color: rgb(26, 26, 26);
  position: relative;
  color: white;
  box-shadow: 0 -5px 50px 5px rgba(161, 51, 255, 0.6);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.CheckoutItem
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: px solid red;
  height: auto;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.CheckoutContainer input
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 10px;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;

}

.botondepay
{
  margin: 10px;
}
.paypal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px); /* Difumina el fondo */
  background-color: rgba(0, 0, 0, 0.4); /* Capa oscura semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.paypal-modal {
  background-color: white;
  padding: 30px 40px;
 
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  min-width: 300px;
  max-width: 500px;
  color: #000000;
}
.paypal-x
{
  display: flex;
  align-items: center;
  justify-content: right;
}
.paypal-x a
{
  margin: 0;
  color: #252525;
  cursor: pointer;
}
.paypal-x a:hover{
  color: #000000;
}

.receipt-div
{
  display: flex;
  width: 100%;
  min-height: 90vh;
  background-color: rgb(26, 26, 26);
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  position: relative;
 
  box-shadow: 0 -5px 50px 5px rgba(161, 51, 255, 0.6);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.recibo
{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed white;
  width: 50%;
  height: auto;
  margin: 15px;

}

.recibo h1
{
  border-bottom: 2px solid #FF00FF;
  
}
.recibo-order-num
{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  
}
.recibo-order-num h4{
  padding: 5px;
  margin: 0;
}

.titulo-info-intro
{ display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.receipt-titulo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 10px;
}
.checkoutpage-titulo
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  
}
.checkoutpage-titulo h1{
  border-bottom: 2px solid #FF00FF;
}
 @media (max-width: 1050px) {
  .ShopL {
    flex-direction: column;
    width: 100%;
  }
  .IntroCard
  {
    width: 90%;
    height: auto;
   
  }
  .IntroCardImage
  {
    height: auto;
    
  }

  .CardContent
  {
    width: 90%;
  }


}
.cart-icon-wrapper {
  position: relative;
  display: inline-block;
}



@media (max-width: 1300px)
{
  .ShopBuyContent
  { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ShopBuyLeftContent
  {
    width: 80%;
    
  }
  .ShopBuyRightContent
  {
    width: 98%;
  }
  .ItemDescriptionDiv
  {
    width: 100%;
  }
  
 
  
  .descriptionbuttoncontainer
  {
    flex-direction: column;
  }
 
  .ShopBuyDetailsContainer
  {
    width: 99%;
    
  }
  .Video
  {
   width: 100%;
   
  }
  .VideoOptions
  {
    flex-direction: row;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid white;
  }
  .VideoCard
  {
    width: 98%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  .ShopBuyLeftContent
  {
    width: 80%;
  }
}

@media (max-width: 800px)
{  
  .recibo
  {
    width: 90%;
  }  
  .ItemDivCartContainer
  {
    flex-direction: column;
  }
  .ItemDescriptionDiv
  {
    width: 100%;
  }
  .ShopBuyLeftContent
  {
    width: 100%;
  }

  .ShopBuyTitulo
  {
    width: 98%;
  }

  .ShopBuyRightContent h4
  {
    text-align: center;
    
    
  }
}

@media (max-width: 500px)
{   nav h1
    {
      display: none;
      visibility: hidden;
    }
    nav
    {
      justify-content: center;
    }
  
  
  .receipt-div
  {
    font-size: 13px;
  }
  .IntroCard
  {
    width: 95%;
  }

  .HomeContent p
  {
    font-size: 12px;
    
  }
  .HomeButton
  {
    margin-top: 10px;
  }
  .logohome
  {
    height: 150px;
    width: 300px;
  }
  .VideoCard
  {
    height: 300px;
  }
  .VideoOptions
  {height: 50px;
  }
  .VideoButton
  {
    height: 50px;
  }
  .ShopBuyButtons
  {
    width: 85%;
  }
  
  
}